In [ ]:
# sum of variables 
x = 5
y = 6
z = x + y
print(z)

In [ ]:
# subtraction
x = 6 
y = 7
z = x - y
print(z)

In [ ]:
# modulus 
x = 9
y = 10
z = x % y
print(z)

In [ ]:
# divide 
x = 20
y = 56
z = x / y
print(z)

In [ ]:
# multiplication
x = 90
y = 178
z = x * y
print(z)

In [ ]:
data = {1,2,4,7,8,10,8,9,6}
# len(data)
men = []
women = []
for position in range (len(data));
if position % 2 == 0:
    else men == 2
    print()

In [ ]:
ahmed_name = "ahmed"

In [ ]:
ahmed_name

In [ ]:
s = "hello world"

In [ ]:
s.isalnum()

In [ ]:
s.isnumeric()

In [ ]:
s.capitalize()

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
z = '6'

In [ ]:
z

In [ ]:
y = 6

In [ ]:
y

In [ ]:
s = 'hello'

In [ ]:
s

In [ ]:
s = [3]

In [ ]:
s

In [ ]:
s = 'hello'

In [ ]:
s

In [ ]:
s = 'itxmehuzaifa63@gmail.com'
s.split('63')

In [ ]:
1>2

2<3

In [ ]:
3<=4

In [ ]:
-4<=4

In [ ]:
'abc' =='abc'

In [ ]:
1 == 1

In [ ]:
my_list = [1,2,3,]

In [ ]:
x = 65
y = 68
z = y+x
print(z)

In [ ]:
import statistics
data = [1,2,4,6,5,8,6,4,9]

men = []
women = []

for position in range (len(data)):
# print postion()
   if position%2==0:
        men.append(data[position])
        else:
            women.append(data[position])
        
print("Rating of MEN are: ",men)
print()

In [ ]:
# Q1: Write a program that uses input to prompt a user for their name and then welcomes them.
# Enter your name: Chuck
# Hello Chuck
print('please enter the name')

In [ ]:
user_name = (input("Enter your name:"))
print("Hello")

In [ ]:
# name = input('Enter your name:')
# print ('Hello'), name

In [ ]:
# Q2: Write a program to prompt the user for hours and rate per
# hour to compute gross pay.
# Enter Hours: 35
# Enter Rate: 2.75
# Pay: 96.25
# We won’t worry about making sure our pay has exactly two digits after the decimal
# place for now. If you want, you can play with the built-in Python round function
# to properly round the resulting pay to two decimal places.
hours = float(input('Enter Hours:'))
rate = float(input('Enter Rate:'))
pay = hours * rate
print ('Pay ='), pay

In [ ]:
# Q3: Assume that we execute the following assignment statements:
# width = 17
# height = 12.0
# For each of the following expressions, write the value of the expression and the
# type (of the value of the expression).
# 1. width//2
# 2. width/2.0
# 3. height/3
# 4. 1 + 2 * 5
# Use the Python interpreter to check your answers.
width = 17
height = 12.0
width//2

In [ ]:
height/3

In [ ]:
1 + 2 * 5

In [ ]:
# Q4: Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.
celsius = float(input("Enter the celsius temprature:"))
fahrenheit = (celsius * 9.0/5.0) + 32.0
print("Temprature in fahrenheit = ",fahrenheit)

In [ ]:
# Q5: Write a program to find if a given number is a perfect square or not.

import math
number = int(input("Enter the Number"))

root = math.sqrt(number)
if int(root + 0.5) ** 2 == number:
    print(number, "is a perfect square")
else:
    print(number, "is not a perfect square")

In [ ]:
# Q6: Write Python statements to calculate and print the simple interest using
# variables p, t and r for principal, rate of interest and time duration respectively.
P = 300
R = 1
T = 4
Simple_interest = (P * R * T) / 100
print("The simple interest is:", Simple_interest)

In [ ]:
principle=float(input("Enter the principle amount:"))
time=int(input("Enter the time(years):"))
rate=float(input("Enter the rate:"))
Simple_interest=(principle*time*rate)/100
print("The simple interest is:",Simple_interest)

In [ ]:
# Q7: Write Python statements to create 2 complex objects and print their sum, difference and product
# Python program to subtract
# two complex numbers
 
 
# function that returns
# a complex number after
# subtracting
def subComplex( z1, z2):
    return z1-z2
 
# driver program
z1 = complex(2, 3)
z2 = complex(1, 2)
print( "Subtraction is : ", subComplex(z1, z2))

In [ ]:
# Python program to add
# two complex numbers
 
 
# function that returns
# a complex number after
# adding
def addComplex( z1, z2):
    return z1 + z2
 
# Driver's code
z1 = complex(2, 3)
z2 = complex(1, 2)
print( "Addition is : ", addComplex(z1, z2))

In [ ]:
# Q8: Write Python statements to convert a complex object from polar to
# rectangular coordinates and vice-versa.
import cmath
cn = complex(3,4)
# get polar coordinates
print("Polar Coordinates: ",cmath.polar(cn))

# polar to rectangular. Format for input is (length, ‹angle in radians›).
#Returns a complex number
cn1 = cmath.rect(2, cmath.pi)
print("Polar to rectangular: ",cn1)

In [ ]:
# Q9: Write Python statements to accept a string from the user and print it in title-
# case.
s = "Enter your name"
s = input("enter your name") 
s.upper()

In [ ]:
# Q1: Take the following Python code that stores a string:
# str = 'X-DSPAM-Confidence:0.8475'
# Use find and string slicing to extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number.

In [ ]:
str_6 = 'X-DSPAM-Confidence:0.8475'

In [ ]:
# first way
num = str_6[-6:]

In [ ]:
num

In [ ]:
type(num)

In [ ]:
num = float(num)

In [ ]:
type(num)

In [ ]:
num

In [ ]:
# 2nd way
my_li = str_6.split(":")

In [ ]:
num2 = my_li[1]

In [ ]:
num2 = float(num2)

In [ ]:
type(num2)

In [ ]:
num2

In [ ]:
str_6 = 'X-DSPAM-Confidence:0.8475'

In [ ]:
first = "abd"
scnd = "kjh"
first + scnd

In [ ]:
str_6[:8] + str_6[-7:]

In [ ]:
k = str_6.split("Confidence")

In [ ]:
k[0]+k[1]

In [ ]:
# Q2: Here is a string in python:
# my_str = “Welcome to the Course on Data Science.”
# Do the following:
# - Split the string’
# - Print only first 10 letters
# - Make a new string from this, such that it has only these Words: “Welcome Science”

In [ ]:
# split he string
my_str = "Welcome to the course on data Science."

In [ ]:
my_str.split()

In [ ]:
my_str[:12]

In [ ]:
k = my_str

In [ ]:
k

In [ ]:
k = my_str[:7] + my_str[-8:]

In [ ]:
k

In [ ]:
# Q4: Write a Python script to calculate the number of occurrences of a given
# character in an any given string.

In [ ]:
my_str="My name is Huzaifa"

In [ ]:
my_str.count("a")

In [ ]:
my_str.count("m")

In [ ]:
my_str.count("m")

In [ ]:
# Q5: Write a Python script to count the number of occurrences of each word in a
# given string.

In [ ]:
my_str="My name is Huzaifa yaman and i belongs to lahore This is my own city i am living here for many years"

In [ ]:
my_str.count("is")

In [ ]:
my_str.count("Huzaifa")

In [ ]:
# Q6: Write a Python script to form a string out of the first 2 and last 2 characters
# from the given string. For example, given the string “I am a student”, the
# output expected is “I nt”.

In [ ]:
my_str = "i am a student"

In [ ]:
my_str

In [ ]:
my_str[:1]

In [ ]:
my_str[:1] + my_str[-2:]

# LIST

# QUESTION NO.I

In [ ]:
my_list = ["Huzaifa","Bakr","Ahmed","Hafiz"]
middle = my_list[1:-1]
print(middle)

# Question No.2

In [ ]:
b = [12,21,12,21,34,45,67,89,90,12]

In [ ]:
b = set(b)

In [ ]:
b

In [11]:
test_list1 = [1, 3, 4, 6, 8]
test_list2 = [4, 5, 6, 2, 10]
  
# # printing original lists
# print ("Original list 1 : " + str(test_list1))
# print ("Original list 2 : " + str(test_list2))
  
# using naive method to 
# add two list 
res_list = []
for i in range(0, len(test_list1)):
    res_list.append(test_list1[i] + test_list2[i])
  
# printing resultant list 
print ("Resultant list is : " + str(res_list))

Resultant list is : [5, 8, 10, 8, 18]

# Question No.3

In [9]:
a = [1,2,3,4,5]
b = [6,7,8,9]
c=a+b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Question no.4

In [ ]:
b = [12,34,56,34,21,78,95,10]

In [ ]:
max(b)

In [ ]:
min(b)

# Question no.5

In [ ]:
list = [12,34,12,45,65,56,45,45,34,76,34,78,98]

In [ ]:
type(list)

In [ ]:
new_list = set(list)
print(new_list)

# Question no.6

In [ ]:
a=[1,2,3,4,5,6,7,8,2,3,8,1,0,78,98]
(len(a)-len(set(a)))>0

# Question no.7

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]

In [ ]:
string = str(my_list)
print(string)

In [ ]:
type(string)

# Question no.8

In [ ]:
test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]
  
print ("The first list is : " + str(test_list1))
print ("The second list is : " + str(test_list2))
test_list1.sort()
test_list2.sort()
if test_list1 == test_list2:
    print ("The lists are identical")
else :
    print ("The lists are not identical")

# Question no.9

In [6]:
my_list=["huzaifa","ahmed","awais","huzaifa","ahmed"]

In [7]:
new_set=set(my_list)
print(new_set)

{'ahmed', 'awais', 'huzaifa'}

# Question no.10

In [ ]:
b = [1,2,2,2,2,3,3,4,5,6,7,8,9]
print("the no. of occurences of 2 are:",b.count(2))

# Question no.11

In [ ]:
num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(num, key=sum))

# Question no.12

In [ ]:
my_list = ["aaples","banana","mango"]

In [ ]:
my_list1 = str(my_list)
print(my_list1)

In [ ]:
type(my_list1)

In [ ]:
my_list2= ['huzaifa', 'ahmed', 'awais', 'shoaib']

In [ ]:
type(my_list2)

# Question no.13

In [ ]:
b = "My name is huzaifa"

In [ ]:
type(b)

In [ ]:
my_list = list(b)
print(my_list)

In [ ]:
type(my_list)

# Question no.14

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,0]
my_list = a+b
print(my_list)

In [ ]:
type(my_list)

# Question no.15

In [4]:
t = ['a','b','c','d','e','f','g','h','r','t','y','u','o','w','d']
def list_slice(S, step):
    return[S[i ::step]for i in range(step)]
print(list_slice(t,9))

[['a', 't'], ['b', 'y'], ['c', 'u'], ['d', 'o'], ['e', 'w'], ['f', 'd'], ['g'], ['h'], ['r']]

# Question no.16

In [ ]:
L = [25,12,2]
print("Original List: ",L)
x = int("".join(map(str, L)))
print("Single Integer: ",x)

# TUPLES

# Question no.1

In [ ]:
t = (1,2,3)
tuple([(x,)for x in t])

# Question no.2

In [4]:
#  The Python += operator adds two values together and assigns the final value to a variable
huzaifa = [10,20,30,(10,20),40]
d = 0
for n in huzaifa:
    if type(n) == tuple:
        break
    d += 1
print(d)

3

# Question no.3

In [3]:
'''A Lambda Function in Python programming is an anonymous function or a function having no name. It is a small and restricted function having no more than one line. Just like a normal function, a Lambda function can have multiple arguments with one expression.'''
a = (10, 4, 5)
b = (2, 5, 18)
my_tuple = tuple(map(lambda i, j: i + j, a, b))
print( str(my_tuple))

(12, 9, 23)

# Question no.4

In [ ]:
# Map in Python is a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.).
a = (15, 24, 25)
b = (2, 5, 18)
my_tuple = tuple(map(lambda i, j: i * j, a, b))
print( str(my_tuple))

# SETS

# Question no.1

In [ ]:
my_set={1,2,3,4,5,6,7,7,8}

In [ ]:
type(my_set)

In [ ]:
3 in my_set

# Question no.2

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,2,3,4,5,6,7,8,9]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Question no.3

In [ ]:
i1= ['179.125.01','234.143.8']
i2= ['179.125.01']
for i in i1:
    if i in i2:
        print("Found")
        print(i)

# Dictionaries

# Question no.1

In [ ]:
my_dict = {"1234":"24","4321":"20","5643":"25"}
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
print(my_dict["1234"])

In [ ]:
print(my_dict["4321"])

# Question no.2

In [ ]:
comm = { 'chair' : 10, 'table' : 22, 'sofa-set': 2, 'tv-unit': 0, 'fan': 10, 
        'table-lamp': 0, 'iron-box': 0, 'bed': 30 }

In [ ]:
price = { 'chair': 2365, 'table': 37752, 'sofa-set': 23299, 'tv-unit': 120344, 'bed': 40226 }

In [ ]:
# Evaluate the income made by the shop owner.
# If user enters a commodity that is not available in the shop, display appropriate message.
# If user enters a quantity that is beyond the available limit, display the size of 
# the inventory.
# Display the inventory available.

In [ ]:
# First we consider the total cash be 0
cash = 0
# Now by using while loop we can chk the each key and values according to the given condition
while True:
    entered_commodity = input("Plz Enter What You Need: ")
    if entered_commodity == "quit": 
        print("Thank You For Shopping!")
        break
    
    quantity = int(input("Plz Enter The Quantity:   "))
    if entered_commodity in comm.keys():
        print("Commoditiy Found")
        if comm[entered_commodity]>0 and quantity<=comm[entered_commodity]:
            print("In-Stock & Available")
#             purchasing
            cash = cash + (price[entered_commodity] * quantity)
            print("Now Cash is: ", cash)
#            inventiry update.
            comm[entered_commodity] = comm[entered_commodity] - quantity
            print(comm.items())

        else:
            print("Sorry, Out Of Stock OR the Quantity is More than The Available Stock.")
        
    else:
        print("Sorry, We Do Not Have What You Want.")

# Write a program to find if the given point lies on the x-axis, y-axis or on the origin, given it’s coordinates. e.g: A point is shown like:(x-value, y-value, z-value) for example (12,56,78)

In [3]:
point = input("Please ENter a Point having three axis: ")

Please ENter a Point having three axis: 2346

In [4]:
point

'2346'

In [6]:
values = point.split(",")

In [7]:
for axis_index in range(len(values)):
    print(axis_index)
    axis_value = values[axis_index]
    print(axis_value)
    
    if axis_index==0:
        print(axis_value, " lies on x-axis")
    elif axis_index==1:
        print(axis_value, " lies on y-axis")
    else:
        print(axis_value, " lies on z-axis")

0
2346
2346  lies on x-axis

In [3]:
my_tuple=(1,2,3,4)
d = 2
tuple2=(d*i ,for i in my_tuple)
print(tuple2)

SyntaxError: invalid syntax (Temp/ipykernel_8464/2503107518.py, line 3)